// Global formatting RuleSets
//
html {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

p {
    color: black;
}

// Exanple of a variable
//
$headColor: #993333;

// Example of Page heading for large and small screens
//
@media (min-width: 766px) {
  h1 {
      color: $headColor;
      padding-bottom: 20px;
      font-size: 48px;
  }
}
@media (max-width: 766px) {
  h1 {
      color: $headColor;
      padding-bottom: 10px;
      font-size: 24px;
  }
}

// Example of SCSS inheritance
//
%text {
  font-family: Arial, sans-serif;
}
.description {
  @extend %text;
  font-size: 14px;
}
.lastLine {
  @extend %text;
  font-size: 14px;
  padding-bottom: 50px;
}
.visitor {
  @extend %text;
  font-size: 12px;
  font-weight: bold;
}

// Example of #id selector
//
#greetings {
  font-weight: bold;
  color: black;
  font-size: 16px;
}
#navColumn {
  width: 175px;
  font-size: 12px;
  padding: 10px;
}

// Example of SCSS nesting
//
.nest {
  font-size: 14px;
  p{
    font-weight: bold;
  }
  ul {
    font-size: 16px;
    color: #282899;
  }
}

// Example of Table format
//
table {
    width: 75%;
    border-collapse: collapse;
    border: 3px solid black;
    padding: 20px;
}
// Formatting table header and table data
th, td {
  padding: 10px;
  text-align: center;
}
// Table header background
th[scope="col"] {
  background: #ccc;
}
// Table background even rows
tr:nth-child(even) {
  background: #eee;
}
// Table backgroup odd rows
tr:nth-child(odd) {
  background: #ddd;
}

// Example of @media to hide sections of the page on print output
//
@media print {
  #navColumn {
    display: none;
  }
}

@media print {
  .visitor {
    display: none;
  }
}

// General properties for the "images" class
//
.images {
    display: flex;
    flex-wrap: wrap;
}

// Formating for imageserver
//
.images img {
    padding: 10px;
    width: 200px;
}
