/* line 3, styles.scss */
html {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

/* line 10, styles.scss */
p {
  color: black;
}

@media (min-width: 766px) {
  /* line 21, styles.scss */
  h1 {
    color: #993333;
    padding-bottom: 20px;
    font-size: 48px;
  }
}
@media (max-width: 766px) {
  /* line 28, styles.scss */
  h1 {
    color: #993333;
    padding-bottom: 10px;
    font-size: 24px;
  }
}
/* line 37, styles.scss */
.description, .lastLine, .visitor {
  font-family: Arial, sans-serif;
}

/* line 40, styles.scss */
.description {
  font-size: 14px;
}

/* line 44, styles.scss */
.lastLine {
  font-size: 14px;
  padding-bottom: 50px;
}

/* line 49, styles.scss */
.visitor {
  font-size: 12px;
  font-weight: bold;
}

/* line 57, styles.scss */
#greetings {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

/* line 62, styles.scss */
#navColumn {
  width: 175px;
  font-size: 12px;
  padding: 10px;
}

/* line 70, styles.scss */
.nest {
  font-size: 14px;
}
/* line 72, styles.scss */
.nest p {
  font-weight: bold;
}
/* line 75, styles.scss */
.nest ul {
  font-size: 16px;
  color: #282899;
}

/* line 83, styles.scss */
table {
  width: 75%;
  border-collapse: collapse;
  border: 3px solid black;
  padding: 20px;
}

/* line 90, styles.scss */
th, td {
  padding: 10px;
  text-align: center;
}

/* line 95, styles.scss */
th[scope="col"] {
  background: #ccc;
}

/* line 99, styles.scss */
tr:nth-child(even) {
  background: #eee;
}

/* line 103, styles.scss */
tr:nth-child(odd) {
  background: #ddd;
}

@media print {
  /* line 110, styles.scss */
  .screen-only {
    display: none;
  }
}
/* line 117, styles.scss */
.images {
  display: flex;
  flex-wrap: wrap;
}

/* line 124, styles.scss */
.images img {
  padding: 10px;
  width: 200px;
}
