html {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

$headColor: #993333;

@media (max-width: 766px) {
  h1 {
      color: $headColor;
      padding-bottom: 10px;
      font-size: 24px;
  }
}

@media (min-width: 766px) {
  h1 {
      color: $headColor;
      padding-bottom: 20px;
      font-size: 48px;
  }
}

p {
    color: black;
}

%text {
  font-family: Arial, sans-serif;
}

.description {
  @extend %text;
  font-size: 14px;
}

.lastLine {
  @extend %text;
  font-size: 14px;
  padding-bottom: 50px;
}

.visitor {
  @extend %text;
  font-size: 12px;
  font-weight: bold;
}

#greetings {
  font-weight: bold;
  color: black;
  font-size: 16px;
}

#navColumn {
  width: 175px;
  font-size: 12px;
  padding: 10px;
}

.nest {
  font-size: 14px;
  p{
    font-weight: bold;
  }
  ul {
    font-size: 16px;
    color: #282899;
  }
}

table {
    width: 75%;
    border-collapse: collapse;
    border: 3px solid black;
    padding: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
}

th[scope="col"] {
  background: #ccc;
}

tr:nth-child(even) {
  background: #eee;
}

tr:nth-child(odd) {
  background: #ddd;
}

@media print {
  .screen-only {
    display: none;
  }
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.images img {
    padding: 10px;
    width: 200px;
}
/*
.row {
    padding: 1px;
    margin: 1px;
    font-size: 12px;
}
*/
